<main role="main">
  <div class="game-container">
    @if (!gameOver()) {
    <div class="flex gap-4">
      @for (balloon of balloons; track balloon.id) {
      <app-balloons (balloonMissed)="balloonMissHandler($event)" (balloonPopped)="balloonPopHandler($event)"
        [balloon]="balloon"></app-balloons>
      }
    </div>
    <div class="text-2xl font-bold flex gap-4">
      <span>Score: {{score}}</span>
      @if (missed()) {
      <span>Missed: {{missed()}}</span>
      }
    </div>
    } @else {
      <section class="flex flex-col gap-12">
        <div class="text-3xl text-center font-semibold">Game Over</div>
        <span>Score: {{score}}</span>
        <button (click)="startGame()" class="rounded-md px-2 py-1.5 bg-slate-900 text-white cursor-pointer">Restart</button>
      </section>
    }
  </div>
</main>